.input {
  display: flex;
  align-items: center;
  gap: 10px;

  border-radius: 10px;
  background-color: #141414;
  padding: 10px;

  img {
    opacity: 0.3;
  }

  > input {
    background: none;
    border: none;
    outline: none;
    color: #fff;
  }
}
