.input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  border-radius: 10px;
  background-color: #141414;
  overflow: hidden;

  img {
    opacity: 0.3;
  }

  button {
    background: none;
    border: none;
    padding: 0;
    padding: 0 10px;
    width: max-content;
    height: 25px;
    opacity: 0;
    transform: translateX(50%);
    transition: all 0.2s ease-in-out;

    &.active {
      opacity: 0.3;
      transform: translateX(0%);
    }
  }

  > div {
    padding: 10px;
    display: flex;
    gap: 5px;
    align-items: center;
  }

  input {
    background: none;
    border: none;
    outline: none;
    color: #fff;
    width: 100%;
  }
}
