.button {
  width: 100%;

  padding: 0.75rem;
  border: none;
  border-radius: 8px;
  background: #fff;
  color: rgb(0, 0, 0);
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    opacity: 0.9;
  }
}
