.header {
  padding: 15px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .links {
    ul {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      gap: 10px;
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
      }

      span {
        color: #fff;
        text-decoration: none;
        padding: 8px 15px;
        transition: all 0.3s ease-in-out;
        border-radius: 20px;
        font-size: 16px;
      }
    }
  }
}
