.playlist {
  display: flex;
  margin: 10px auto;
  height: 85%;
  overflow: hidden;

  ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 100%;
    gap: 10px;
    margin-top: 10px;
    overflow-y: scroll;
    padding-right: 5px;

    position: relative;

    &::-webkit-scrollbar {
      width: 7px;
      height: 10px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f106;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }
}

.misuc {
  display: flex;
  align-items: stretch;
  width: 100%;
  gap: 10px;

  .musicImg {
    aspect-ratio: 1 / 1;
    height: 100%;
    position: relative;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }
  }

  .musicContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2px;
    padding: 2px;
  }

  .musicTitle {
    color: #fff;
    font-size: 18px;
    margin: 0;
    font-weight: 400;
    padding: 0;
    margin-bottom: 2px;
  }

  .musicAuthor {
    opacity: 0.3;
    color: #fff;
    font-size: 14px;
  }

  .musicLength {
    opacity: 0.3;
    color: #fff;
    font-size: 14px;
    margin-top: 6px;
  }
}
