.playlist {
  display: flex;
  margin: 10px auto;
  height: 85%;
  overflow: hidden;

  figure {
    height: 0;
    width: 0;
    visibility: hidden;
    opacity: 0;
    padding: 0;
    margin: 0;
  }

  ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 100%;
    gap: 10px;
    margin-top: 10px;
    overflow-y: scroll;
    padding-right: 5px;
    overflow-x: hidden;
    position: relative;

    &::-webkit-scrollbar {
      width: 7px;
      height: 10px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f106;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }
}
