* {
  font-family: var(--font-montserrat-alternates), sans-serif;
}

body {
  background: linear-gradient(
      0deg,
      rgba(10, 10, 10, 0.2),
      rgba(10, 10, 10, 0.2)
    ),
    linear-gradient(131.55deg, #1b1b1b 0%, #14151f 88.91%);

  overflow: hidden;
  margin: 0;
  height: 100vh;

  display: flex;
  align-items: center;
  width: 100%;
}

.home {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 30px;
  width: 100%;
}

.wrapper {
  padding: 10px;
  height: -webkit-fill-available;
  height: fill-available;
  width: 100%;
}
