* {
  font-family: "Raleway";
}

body {
  background-color: #0a0a0a;
  overflow: hidden;
  margin: 0;
  height: 100vh;
}

.home {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 100px;
}

.wrapper {
  padding: 10px;
  height: -webkit-fill-available;
  height: fill-available;
}
