.playlist {
  display: flex;
  margin: 10px auto;
  height: 85%;
  overflow: hidden;

  figure {
    height: 0;
    width: 0;
    visibility: hidden;
    opacity: 0;
    padding: 0;
    margin: 0;
  }

  ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 100%;

    gap: 10px;
    margin-top: 10px;
    padding-right: 5px;
    position: relative;
  }
}
