.hero {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 20px;
}
.podcast {
  height: 400px;
  width: 100%;
  background-image: url('../../../public/ThubmnailPodcast.jpg');
  background-size: cover;

  background-repeat: no-repeat;
  border-radius: 25px;
  object-position: 20% 20%;

  display: flex;
  align-items: flex-end;

  h2,
  h3 {
    margin: 0;
    padding: 0;
  }
}

.podcastContent {
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  section {
    display: flex;
    flex-direction: column;

    span {
      font-weight: 500;
      font-size: 18px;
      line-height: 25px;
      margin-top: 8px;
      color: rgba(255, 255, 255, 0.8);
    }

    button {
      padding: 15px 85px;
      border: none;
      margin-top: 20px;
      cursor: pointer;
      background: rgba(255, 255, 255, 0.05);
      border-radius: 15px;
      backdrop-filter: blur(10px);

      width: max-content;
      color: #fff;
      font-size: 16px;
    }

    h2 {
      font-weight: 600;
      font-size: 40px;
      line-height: 40px;
      letter-spacing: -0.02em;
      margin-bottom: 10px;
      color: #ffffff;
    }
  }

  .img {
    width: 50px;
    border-radius: 10px;
    height: 50px;
    background-color: rgb(218, 17, 211);
  }

  section.user {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 10px;

    h3 {
      color: #fff;
      font-size: 20px;
      font-weight: 500;
    }

    span {
      font-size: 16px;
      font-weight: 400;
    }
  }
}
