.HeroHead {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  width: 100%;
  gap: 15px;

  button {
    background-color: #1d1e25;
    border: none;
    border-radius: 15px;
    padding: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .HeroHeadSearch {
    background-color: #1d1e25;
    border: none;
    border-radius: 15px;
    padding: 15px 20px;

    display: flex;
    align-items: center;
    gap: 10px;

    input {
      background: none;
      border: none;
      outline: none;
      color: #fff;
      width: 100%;
    }
  }
}
