.steps {
  list-style: none;
  padding: 0;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.step {
  padding: 15px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  background: #2323236b;
  backdrop-filter: blur(6px);
  color: #fff;

  span {
    width: 30px;
    height: 30px;
    border-radius: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: #232323c7;
    font-size: 14px;
  }

  &--active {
    background: #fff;
    color: #232323;
    transition: all 0.3s ease-in-out;

    span {
      background: #000000;
      color: #fff;
    }
  }
}
