.player {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  z-index: 10;
  bottom: 20px;
  left: 20px;
  right: 20px;
  padding: 2px;
  padding-right: 20px;
  border-radius: 17px;

  background: rgba(0, 0, 0, 0.004);
  border-radius: 17px;
  backdrop-filter: blur(5px);
}

.Volume {
  display: flex;
  align-items: center;
  gap: 10px;
}

.volumeRange {
  width: 120px;
  height: 5px;
  appearance: none;
  background: rgba(255, 255, 255, 0.564);
  border-radius: 4px;
  cursor: pointer;
  position: relative;

  transition: all 0.2s ease;

  &:hover::-webkit-slider-thumb {
    transform: scale(1.3);
  }

  &:hover::-moz-range-thumb {
    transform: scale(1.3);
  }
}

/* Webkit (Chrome, Edge, Safari) */
.volumeRange::-webkit-slider-runnable-track {
  height: 5px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.564);
}

.volumeRange::-webkit-slider-thumb {
  appearance: none;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  margin-top: -3.5px;
  transition: all 0.1s ease-in-out;
  position: relative;
}

/* Firefox */
.volumeRange::-moz-range-track {
  height: 5px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.564);
}

.volumeRange::-moz-range-thumb {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #fff;
  border: none;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.playerHead {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 40%;
}

.trackImg {
  width: 110px;
  height: 100px;
  border-radius: 15px;
  object-fit: cover;

  img {
    border-radius: 15px;
    position: relative !important;
  }
}

//

.trackDurationWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.playerFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
  position: relative;

  .trackDuration {
    width: 500px;
    height: 5px;
    border-radius: 4px;
    display: flex;
    align-items: flex-start;
    background: rgba(255, 255, 255, 0.564);

    &:hover {
      span::after {
        transform: scale(1.3);
      }

      span {
        opacity: 0.6;
      }
    }

    span {
      height: 100%;
      border-radius: 4px;
      width: 50%;
      transition: all 0.1s ease-in-out;
      background: #fff;
      position: relative;

      display: flex;
      align-items: center;
      padding-left: 10px;

      &::after {
        content: '';
        position: absolute;
        transition: all 0.1s ease-in-out;
        height: 100%;
        padding: 5px;
        width: 5px;
        border-radius: 100px;
        background-color: rgb(255, 255, 255);
        right: 0;
      }
    }
  }

  .playerFooterContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}

.trackAction {
  left: 50%;
  display: flex;
  align-items: center;
  gap: 5px;

  .trackState {
    > div {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
    }

    img {
      position: absolute;
      z-index: 1;
      transition: all 0.2s ease-in-out;
      transform: scale(0.5);
      opacity: 1;

      &.active {
        opacity: 1 !important;
        z-index: 2 !important;
        transform: scale(1);
      }
    }
  }

  button {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    padding: 10px;

    &:hover {
      transform: scale(1.1);
      opacity: 0.5;
    }
  }
}

.trackLenght {
  font-size: 50px;
  font-weight: 300;
  margin: 0;

  span {
    opacity: 0.5;
  }
}

.traclkTitle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;

  font-size: 35px;
  font-weight: 400;

  width: 100%;

  small {
    opacity: 0.5;
    font-weight: 300;
    font-size: 16px;
  }
}

.trackAutor {
  font-weight: 300;
  margin: 0;
  font-size: 60px;
}

.trackInfo {
  display: flex;
  align-items: center;
  gap: 40px;

  > div {
    display: flex;
    align-items: center;
    gap: 15px;

    small {
      opacity: 0.5;
    }

    span {
      font-size: 60px;
    }
  }
}
