.HeroPlayer {
  grid-template-columns: 68% 30%;
  gap: 20px;
  width: 100%;
  display: grid;
  justify-content: space-between;
}

.tracksFeatured {
  padding: 10px 20px;
  border-radius: 15px;
  background-color: #1d1f27;
  height: max-content;

  h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: -0.02em;
    color: #ffffff;
  }

  .FeaturedCard {
    height: 200px;
    background-color: #ffffff30;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    align-items: flex-end;
    gap: 10;

    section {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    span {
      font-weight: 500;
      font-size: 14px;
      line-height: 14px;
      color: #ffffff;
    }

    button {
      width: max-content;
      position: relative;
      background: none;
      padding: 0;
      border: none;
      width: 40px;
      height: 40px;

      > img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
