.EmptyPlaylist {
  display: flex;
  align-items: center;
  position: relative;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin: 100px;

  svg {
    opacity: 0.9;
  }

  span {
    color: #fff;
    font-size: 20px;
  }

  button {
    padding: 17px 70px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    background-color: #fff;
    transition: all 0.3s ease-in-out;

    &:hover {
      opacity: 0.8;
      transform: scale(1.03);
    }
  }
}
