.header {
  padding: 15px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo img {
    width: 20px;
    height: 20px;
  }

  .user {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 30px;

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .links {
    ul {
      display: flex;
      align-items: center;
      gap: 30px;
      list-style-type: none;
      padding: 0;
      margin: 0;

      a {
        color: #fff;
        text-decoration: none;
        padding: 8px 15px;
        transition: all 0.3s ease-in-out;
        border-radius: 20px;

        &.active {
          background-color: #fff;
          color: #000;
        }

        &:hover {
          color: #000000;
          background-color: #ffffff61;
        }
      }
    }
  }
}
